@charset "UTF-8";
html {
  color: #999;
  padding-top: 105px;
  background: url("../image/global/bg.jpg") left top repeat-x #f06805;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, textarea, p, blockquote, th, td, iframe {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

ol, ul {
  list-style: none;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  color: #999 !important;
}

input[type="text"], textarea {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: none;
}

h1, h2, h3, h4, h5, h6, input, textarea, select, button {
  font-size: 100%;
}

img {
  display: block;
}

body {
  font: 12px/1.5 '微软雅黑','Helvetica Neue',Helvetica,Arial,Sans-serif !important;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

em {
  font-style: normal;
}

.hide-text {
  text-indent: -9999px;
  overflow: hidden;
}

.no-border {
  border: none !important;
}

.no-bg {
  background: none !important;
}

.min-h {
  font-size: 1px;
  line-height: 1px;
}

.fl {
  float: left;
}

.fr {
  float: right !important;
}

.cb {
  clear: both;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center !important;
}

.pr {
  position: relative;
  left: 0;
  top: 0;
}

.pa {
  position: absolute;
}

.z10 {
  z-index: 10;
}

.hide {
  display: none;
}

.text-dec {
  text-decoration: none;
}

.inside-familyview {
  width: 1190px;
  margin: 0 auto;
  background: #fff;
}

.inside-familyview h2 {
  display: block;
  width: 100%;
  height: 90px;
  line-height: 90px;
  font-size: 24px;
  text-indent: 40px;
  color: #636363;
}

.inside-familyview .family-line {
  display: block;
  width: 100%;
  border-top: 1px solid #d9d8d8;
  border-bottom: 1px solid #d9d8d8;
  background: #f2f0f0;
  height: 7px;
}

.inside-familyview .familyico {
  display: block;
  width: 100%;
  height: 446px;
  position: relative;
  background: url("/image/img/home/img1.jpg") 0 0 no-repeat;
}

.inside-familyview .familyico a {
  display: block;
  width: 149px;
  height: 149px;
  overflow: Hidden;
  position: absolute;
  text-indent: -9999px;
  cursor: default;
  z-index: 2;
}

.inside-familyview .familyico a span {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.inside-familyview .familyico a.a1 {
  left: 0;
  top: 0;
}

.inside-familyview .familyico a.a2 {
  left: 149px;
  top: 0;
  width: 296px;
}

.inside-familyview .familyico a.a3 {
  left: 445px;
  top: 0;
  width: 298px;
}

.inside-familyview .familyico a.a4 {
  left: 745px;
  top: 0;
}

.inside-familyview .familyico a.a5 {
  left: 894px;
  top: 0;
  width: 296px;
}

.inside-familyview .familyico a.a6 {
  left: 0;
  top: 149px;
}

.inside-familyview .familyico a.a7 {
  left: 149px;
  top: 148px;
}

.inside-familyview .familyico a.a8 {
  left: 298px;
  top: 148px;
  width: 296px;
}

.inside-familyview .familyico a.a9 {
  left: 594px;
  top: 148px;
}

.inside-familyview .familyico a.a10 {
  left: 743px;
  top: 148px;
  width: 298px;
}

.inside-familyview .familyico a.a11 {
  left: 1041px;
  top: 148px;
}

.inside-familyview .familyico a.a12 {
  left: 0;
  top: 297px;
  width: 298px;
}

.inside-familyview .familyico a.a13 {
  left: 298px;
  top: 297px;
  width: 298px;
}

.inside-familyview .familyico a.a14 {
  left: 445px;
  top: 297px;
}

.inside-familyview .familyico a.a15 {
  left: 594px;
  top: 297px;
  width: 298px;
}

.inside-familyview .familyico a.a16 {
  left: 892px;
  top: 297px;
}

.inside-familyview .familyico a.a17 {
  left: 1041px;
  top: 297px;
}

.inside-familyview .familyico a.sel span {
  display: none;
}

.inside-familyview .familyico-con {
  width: 1190px;
  height: 410px;
  overflow: Hidden;
}

.inside-familyview .familyico-con ul {
  width: 1190px;
  height: 410px;
  overflow: hidden;
}

.inside-familyview .familyico-con ul li {
  float: left;
  width: 1190px;
  position: relative;
  display: none;
}

.inside-familyview .familyico-con ul li .fc-txt {
  display: block;
  width: 520px;
  position: absolute;
  left: 595px;
  top: 60px;
}

.inside-familyview .familyico-con ul li .fc-txt span {
  display: block;
  width: 100%;
}

.inside-familyview .familyico-con ul li .fc-txt span.til {
  font-size: 36px;
  font-weight: bold;
  color: #5a5a5a;
  padding-bottom: 15px;
}

.inside-familyview .familyico-con ul li .fc-txt span.text {
  font-size: 20px;
  color: #4c4c4c;
  line-height: 36px;
  padding-bottom: 20px;
}

.inside-familyview .familyico-con ul li .fc-txt span.txt-url {
  font-size: 18px;
  color: #8b8b8b;
}

.inside-familyview .familyico-con ul li .fc-txt span.txt-url a {
  color: #8b8b8b;
}
