@charset "UTF-8";
html {
  color: #999;
  padding-top: 105px;
  background: url("../image/global/bg.jpg") left top repeat-x #f06805;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, textarea, p, blockquote, th, td, iframe {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

ol, ul {
  list-style: none;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  color: #999 !important;
}

input[type="text"], textarea {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: none;
}

h1, h2, h3, h4, h5, h6, input, textarea, select, button {
  font-size: 100%;
}

img {
  display: block;
}

body {
  font: 12px/1.5 '微软雅黑','Helvetica Neue',Helvetica,Arial,Sans-serif !important;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

em {
  font-style: normal;
}

.hide-text {
  text-indent: -9999px;
  overflow: hidden;
}

.no-border {
  border: none !important;
}

.no-bg {
  background: none !important;
}

.min-h {
  font-size: 1px;
  line-height: 1px;
}

.fl {
  float: left;
}

.fr {
  float: right !important;
}

.cb {
  clear: both;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center !important;
}

.pr {
  position: relative;
  left: 0;
  top: 0;
}

.pa {
  position: absolute;
}

.z10 {
  z-index: 10;
}

.hide {
  display: none;
}

.text-dec {
  text-decoration: none;
}

.mg-dynamic-sidenav {
  width: 198px;
  height: 850px;
  position: relative;
  background: url("/image/ico/sidenav-bg.jpg") 0 0 no-repeat;
}

.mg-dynamic-sidenav .a-hover {
  display: block;
  width: 198px;
  background: #e3e3e3;
  filter: alpha(opacity=40);
  -moz-opacity: .4;
  -khtml-opacity: .4;
  opacity: .4;
  height: 125px;
  position: absolute;
  left: 0;
  z-index: 1;
}

.mg-dynamic-sidenav .sidenav-l {
  display: block;
  position: relative;
  z-index: 2;
  width: 198px;
}

.mg-dynamic-sidenav .sidenav-l a {
  display: block;
  float: left;
  width: 198px;
  height: 125px;
  margin-bottom: 1px;
  color: #505050;
  overflow: Hidden;
}

.mg-dynamic-sidenav .sidenav-l a span {
  text-indent: 30px;
  font-size: 24px;
  display: block;
  width: 100%;
  padding-top: 30px;
}

.mg-dynamic-sidenav .sidenav-l a em {
  text-indent: 30px;
  font-size: 18px;
  display: block;
  width: 100%;
}

.mg-dynamic-sidenav .sidenav-l a:hover, .mg-dynamic-sidenav .sidenav-l a.sel {
  color: #fff;
  text-decoration: none;
}

.mg-dynamic-sidenav .sidenav-l a.sel {
  background-color: #f7c631;
}

.mg-dynamic-sidenav .sidenav-l a.sel:hover {
  color: #fff;
}

.mg-dynamic-sidenav .sidenav-l a:hover {
  color: #505050;
}
