@charset "UTF-8";
html {
  color: #999;
  padding-top: 105px;
  background: url("../image/global/bg.jpg") left top repeat-x #f06805;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, textarea, p, blockquote, th, td, iframe {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

ol, ul {
  list-style: none;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  color: #999 !important;
}

input[type="text"], textarea {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: none;
}

h1, h2, h3, h4, h5, h6, input, textarea, select, button {
  font-size: 100%;
}

img {
  display: block;
}

body {
  font: 12px/1.5 '微软雅黑','Helvetica Neue',Helvetica,Arial,Sans-serif !important;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

em {
  font-style: normal;
}

.hide-text {
  text-indent: -9999px;
  overflow: hidden;
}

.no-border {
  border: none !important;
}

.no-bg {
  background: none !important;
}

.min-h {
  font-size: 1px;
  line-height: 1px;
}

.fl {
  float: left;
}

.fr {
  float: right !important;
}

.cb {
  clear: both;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center !important;
}

.pr {
  position: relative;
  left: 0;
  top: 0;
}

.pa {
  position: absolute;
}

.z10 {
  z-index: 10;
}

.hide {
  display: none;
}

.text-dec {
  text-decoration: none;
}

.global-header {
  width: 1190px;
  height: 97px;
  margin: 0 auto;
  overflow: Hidden;
  border-radius: 10px 10px 0 0;
  background: #fff;
}

.global-header .logo-ico {
  display: block;
  overflow: Hidden;
  width: 100px;
  height: 97px;
  float: left;
  background: url("/image/global/logo.png") 0 0 no-repeat;
}

.global-header .header-nav {
  display: inline-block;
  width: auto;
  float: left;
  line-height: 97px;
  overflow: Hidden;
  padding: 0 20px;
}

.global-header .header-nav a {
  display: block;
  float: left;
  margin-left: 49px;
  font-size: 18px;
  color: #636363;
  width: auto;
}

.global-header .header-nav a:hover, .global-header .header-nav a.sel {
  color: #ff8e2a;
  text-decoration: none;
}

.global-header .header-nav a:hover {
  background: url("/image/ico/page_box2.jpg") bottom repeat-x;
  height: 70px;
  _margin-top: 23px;
  _height: 51px;
  _line-height: 51px;
}

.global-header .header-nav a.sel {
  padding-left: 19px;
  margin-left: 30px;
  background: url("/image/global/ico1.png") left center no-repeat;
  height: 97px;
}

.global-header .header-nav a.sel:hover {
  _background: url("/image/global/ico1.png") left center no-repeat;
}

.global-header .p-search {
  width: 375px;
  float: right;
  text-align: right;
}

.global-header .p-search .search-con {
  display: inline-block;
  width: 180px;
  float: left;
  height: 34px;
  line-height: 34px;
  margin-top: 32px;
  position: relative;
  background: url("/image/global/ico3.png") top no-repeat;
}

.global-header .p-search .search-con.a-hover {
  background: url("/image/global/ico4.png") top no-repeat;
}

.global-header .p-search .search-con .int-txt {
  border: 0;
  background: transparent;
  height: 26px;
  line-height: 26px;
  padding: 2px 40px 2px 10px;
  width: 130px;
  display: inline-block;
}

.global-header .p-search .search-con .search-btn {
  display: block;
  width: 40px;
  height: 34px;
  position: absolute;
  right: 0;
  top: 0;
}

.global-header .p-search .login-txt {
  width: auto;
  float: left;
  display: inline-block;
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  margin: 32px 0 0 20px;
  text-align: center;
  color: #636363;
  font-size: 18px;
}

.global-header .p-search .login-txt a {
  color: #636363;
}

.global-header .p-search .login-txt a:hover, .global-header .p-search .login-txt a.sel {
  color: #ff8e2a;
}

.global-header .p-search .login-txt a.out {
  margin-left: 14px;
}

.footer-mes {
  padding: 40px 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  width: 100%;
  text-shadow: 1px 1px 2px #333;
  line-height: 35px;
}

.footer-box {
  width: 1144px;
  height: 134px;
  padding: 43px 38px 43px 8px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  overflow: Hidden;
  background: url("/image/global/footer-bg.png") center top no-repeat;
}

.footer-box ul {
  width: 100%;
}

.footer-box ul li {
  float: left;
  display: inline;
  width: 213px;
  border-right: 2px solid #5b505d;
  padding: 0 10px;
  margin-left: 30px;
  color: #fff;
  height: 134px;
  font-size: 18px;
}

.footer-box ul li h2 {
  font-size: 24px;
  display: block;
  width: 100%;
  font-weight: normal;
  padding-bottom: 21px;
}

.footer-box ul li p {
  display: block;
  width: 100%;
}

.footer-box ul li p span {
  display: block;
  width: 100%;
  padding-bottom: 7px;
}

.footer-box ul li p span a {
  color: #fff;
  padding-right: 10px;
}

.footer-box ul li.cla-1 {
  width: 250px;
}

.footer-box ul li.cla-1 h2 {
  padding-bottom: 10px;
}

.footer-box ul li.cla-1 p {
  position: relative;
}

.footer-box ul li.cla-1 p span {
  height: 25px;
}

.footer-box ul li.cla-1 p span a {
  padding-left: 35px;
  height: 25px;
  display: inline-block;
}

.footer-box ul li.cla-1 p span a.sina {
  background: url("/image/global/sina.png") left 0 no-repeat;
}

.footer-box ul li.cla-1 p span a.qq-qzone {
  background: url("/image/global/qq-zone.png") left 0 no-repeat;
}

.footer-box ul li.cla-1 p span a.weixin {
  background: url("/image/global/weixin.png") left 0 no-repeat;
}

.footer-box ul li.cla-1 p span a.baidu {
  background: url("/image/global/baidu.png") left 0 no-repeat;
}

.footer-box ul li.cla-1 p em {
  position: absolute;
  width: 91px;
  height: 91px;
  right: 20px;
  top: 0;
  display: block;
  box-shadow: 0 0 5px #000;
  background: url("/image/global/weixin-im.png") 0 0 no-repeat;
}

.footer-box ul li.lianxi {
  border-right: 0;
  width: 262px;
}

.footer-box ul li.lianxi p {
  width: 228px;
  margin: 0 17px;
}

.footer-box ul li.lianxi p.phone {
  font-size: 26px;
  text-indent: 26px;
  font-weight: bold;
  background: url("/image/global/phone.png") 0 7px no-repeat;
}

.footer-box ul li.lianxi p.phone-mes {
  font-size: 14px;
  padding-top: 5px;
}

.footer-box ul li.lianxi .lianxi-btn {
  width: 228px;
  height: 47px;
  display: block;
  margin-left: 17px;
  margin-top: 20px;
  cursor: default;
  background: url("/image/global/keifu.png") 0 0 no-repeat;
}
