@charset "UTF-8";
html {
  color: #999;
  padding-top: 105px;
  background: url("../image/global/bg.jpg") left top repeat-x #f06805;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, textarea, p, blockquote, th, td, iframe {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

ol, ul {
  list-style: none;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  color: #999 !important;
}

input[type="text"], textarea {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: none;
}

h1, h2, h3, h4, h5, h6, input, textarea, select, button {
  font-size: 100%;
}

img {
  display: block;
}

body {
  font: 12px/1.5 '微软雅黑','Helvetica Neue',Helvetica,Arial,Sans-serif !important;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

em {
  font-style: normal;
}

.hide-text {
  text-indent: -9999px;
  overflow: hidden;
}

.no-border {
  border: none !important;
}

.no-bg {
  background: none !important;
}

.min-h {
  font-size: 1px;
  line-height: 1px;
}

.fl {
  float: left;
}

.fr {
  float: right !important;
}

.cb {
  clear: both;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center !important;
}

.pr {
  position: relative;
  left: 0;
  top: 0;
}

.pa {
  position: absolute;
}

.z10 {
  z-index: 10;
}

.hide {
  display: none;
}

.text-dec {
  text-decoration: none;
}

.tv-news {
  width: 1190px;
  background: #f6f5f5;
  padding: 5px 0 35px 0;
  margin: auto;
}

.tv-news .news-nav {
  width: 1176px;
  margin: auto;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}

.tv-news .news-nav a {
  float: left;
  padding: 0 20px;
  background: url("/image/ico/span.png") right no-repeat;
  cursor: pointer;
  color: #969696;
}

.tv-news .news-nav a:hover {
  text-decoration: underline;
  color: #ff8e2a;
}

.tv-news .news-nav span {
  float: left;
  padding-left: 20px;
  color: #636363;
}

.tv-news .content {
  width: 1134px;
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  border-color: #f28835 #c5c4c4 #c5c4c4 #c5c4c4;
  margin: auto;
  background: #fefefe;
}

.tv-news .content .title {
  width: 100%;
  text-align: center;
  height: 116px;
}

.tv-news .content .title h1 {
  color: #505050;
  font-size: 22px;
  line-height: 40px;
  padding-top: 30px;
  height: 40px;
}

.tv-news .content .title span {
  display: block;
  font-size: 16px;
  line-height: 36px;
  color: #969696;
  width: 1010px;
  height: 36px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b7b7b7;
  margin: auto;
}

.tv-news .content .cont {
  width: 1010px;
  padding: 30px 62px;
  font-size: 16px;
  line-height: 36px;
  color: #505050;
  border-bottom: 1px solid #b7b7b7;
}

.tv-news .content .cont p {
  text-indent: 2em;
  margin-top: 20px;
}

.tv-news .content .cont img {
  text-align: center;
  margin: 0 auto;
}

.tv-news .content .cont .page {
  width: 360px;
  margin: auto;
  height: 60px;
  padding-top: 30px;
}

.tv-news .content .cont .page a {
  display: block;
  cursor: pointer;
  width: 140px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}

.tv-news .content .cont .page a.a-up {
  float: left;
}

.tv-news .content .cont .page a.a-down {
  float: right;
}

.tv-news .content .cont .page a:hover {
  text-decoration: none;
  color: #ff8e2a;
}

.tv-news .content .list {
  padding: 10px 62px 30px 62px;
  margin: auto;
}

.tv-news .content .list ul {
  width: 100%;
  padding-top: 30px;
  height: 144px;
  overflow: hidden;
}

.tv-news .content .list ul li {
  float: left;
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #666;
  font-size: 18px;
  background: url("/image/ico/dot.png") left center no-repeat;
}

.tv-news .content .list ul li a {
  display: block;
  float: left;
  height: 36px;
  color: #666;
  padding-left: 20px;
  width: 630px;
  overflow: Hidden;
}

.tv-news .content .list ul li em {
  text-align: right;
  display: block;
  float: right;
  width: 117px;
}
